.bingotable td{
  border: 1px solid white;
  width: 20%;
  height: 20%;
  text-align: center;
  border-collapse: collapse;
  font-size: 12px;
}

.bingotable table{
  width: 98%;
  height: 98%;
  border-collapse: collapse;
}

.App-bingotable section{
  position:relative;
  height: 98%;
  width: 98%;
}
