.App {
    margin: 0;
}

.App div {
  border: 2px dashed white;
  background-color: #222;
  color: white;
  width: auto;
  padding: 10px;
  margin-top: -1px;
  margin-bottom: -1px;
  overflow: auto;
}

.App-header {
  height: 160px;
  text-align: center;
  font-size: 50px;
}
.App-bingotable{
  height: 650px;
  width: 650px;
}

.App-footer {
  padding: 0px;
  height: auto;
  font-size: 10px;
  text-align: right;
}

@media print {
  #react-no-print {
    display: none;
  }
  #react-print {
        display: block;
  }
  #react-print table td{
        border: 1px solid black;
  }
}
